/**
 * Shufflehound Admin Panel Styles
 */
.shufflehound-content *:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
}

.row {
    margin: 0 4px;
}

.col-md-4,
.col-md-6 {
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
}

.col-md-4 {
    width: 33.3%;
}

.col-md-6 {
    width: 50%;
}

@media (max-width: 1024px) {
    .col-md-4 {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .col-md-4,
    .col-md-6 {
        width: 100%;
    }

    .shufflehound-content .shufflehound-dashboard-title,
    .shufflehound-content .shufflehound-dashboard-item,
    .shufflehound-content .shufflehound-dashboard-list {
        margin-right: 0;
    }
}


/**
 * Titles
 */
.shufflehound-dashboard-title {
    margin-right: 30px;
}

.shufflehound-dashboard-title h3 {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
}

.shufflehound-dashboard-title p {
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 170%;
    color: #7b7b7b;
}


/**
 * Item Boxes
 */
.shufflehound-dashboard-item,
.shufflehound-dashboard-list {
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.shufflehound-dashboard-item {
    padding: 25px 30px;
}

.shufflehound-dashboard-item-icon {
    position: absolute;
    top: 0; left: 0;
    padding-left: 25px;
    padding-top: 30px;
    opacity: 0.7;
}

.shufflehound-dashboard-item-content {
    display: block;
    margin-left: 55px;
    line-height: 150%;
    text-decoration: none;
}

.shufflehound-dashboard-item .shufflehound-dashboard-item-content:hover h3 {
    opacity: 0.7;
}

.shufflehound-dashboard-item h3,
.shufflehound-dashboard-list-item h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.3s all ease-in-out;
}

.shufflehound-dashboard-item p,
.shufflehound-dashboard-list p {
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 170%;
    color: #7b7b7b;
}

.shufflehound-dashboard-list p a {
    color: #7b7b7b;
}

.shufflehound-dashboard-item i {
    font-size: 36px;
}

.shufflehound-dashboard-list-item {
    position: relative;
    padding: 25px 30px;
}

.shufflehound-dashboard-list-item:not(:last-child) {
    padding-bottom: 0px;
}

.shufflehound-dashboard-list-item h3 {
    font-size: 16px;
    font-weight: bold;
}

.shufflehound-dashboard-list-item .shufflehound-dashboard-item-icon {
    padding-left: 32px;
    padding-top: 38px;
}

.shufflehound-dashboard-list-item i {
    font-size: 24px
}

.shufflehound-dashboard-list-item p a {
    text-decoration: none;
}

.shufflehound-dashboard-list-item-outdated i,
.shufflehound-dashboard-list-item-outdated h3,
.shufflehound-dashboard-list-item-outdated p,
.shufflehound-dashboard-list-item-outdated p a {
    color: #F44336!important;
}

.shufflehound-dashboard-item-data p {
    line-height: 190%;
}

.shufflehound-dashboard-item-data p:first-child {
    margin-top: 0;
}

.shufflehound-dashboard-item-data strong {
    color: #23282d;
    font-weight: bold;
}


/**
 * Notices
 */
.shufflehound-notice {
    background-color: rgb(248, 247, 211);
    border: 1px solid rgb(228, 226, 168);
    border-radius: 3px;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.shufflehound-notice span {
    font-weight: bold;
    font-size: 14px;
}

.shufflehound-notice p {
    margin-bottom: 0px;
    margin-top: 5px;
}
